*{
    padding: 0px;
    margin: 0px;
}

.container {
    height: 90vh;
    width: 95%;
    background-color: lightgray;
    display: flex;
    /* flex-direction: column; */
    margin: 10px;
    color: white;
    font-size: larger;
    font-weight: bold;
    /* text-align: center; */
    justify-content: space-around;
    align-items: center;
}

.box{
    height: 100px;
    width: 200px;
    background-color: brown;
}

#first {
    background-color: aqua;
    height: 200px;
    width: 30px;
}

#second {
    background-color: yellow;
    color: black;
    height: 300px;
    width: 50px;
    /* text-align: center;
    align-content: center; */
}

#third {
    background-color: blue;
    width: 100px;
}

#fourth {
    background-color: orange;
    height: 50px;
    width: 50px;
}

#spans {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black
}
#fifth {
    border: 5px;
    display: inline;
    border: 5px solid black;
    /* align-content: center;
    text-align: center; */
    color: purple;
    width: 150px;
}

#seventh{
    width: 150px;
    padding: 0 20px;
}