*{
    margin: 0;
    padding: 0'
}

.container{
    width: 800px;
    height: 800px;
    background-color: lightgray;
    margin-top: 10px;
    margin-left: 100px;
    font-size: 40px;
    /* position: relative; */
}

.first{
    height:100px;
    width: 100px;
    background-color: aqua;
    
}

.second{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    position: absolute;
    top: 100px;
    left: 50px
}

.third{
    height: 300px;
    width: 300px;
    background-color: red;
}